@model IEnumerable<Vidly.Models.Customer>
@{ 
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Random</h2>

@*@if (Model.Customers.Count == 0)
{
    <p>No movies in the list</p>
}*@


    <ol>
        @foreach (var customer in Model)
        {
            <li>@Html.ActionLink(customer.Name,"Details", "Customer", new { id = customer.Id }, null)</li>
        }
    </ol>


