@model Vidly.Models.Movie
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details for @Model.Name</h2>
<ol>
    <p>Id is @Model.Id and Movie name is @Model.Name </p> 

</ol>

